doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel='stylesheet' href='/stylesheets/recipe-detail.css')
        script(src='/javascripts/index.js')
        script(src='/javascripts/reviews.js')

  body
    nav(class='navBar')
      a( href='/') 
        h1.logo recip<b>eats</b>
      div.navLinks
        a(class='navButton' href='/recipes') Recipes
        if locals.authenticated
          a(href='/boards') Boards
          form(action='/users/logout' method='post')
            button(class='navButton' type='submit').logout Logout
        else
          a(class='navButton' href='/users/login').login Login
          a(class='navButton' href='/users/signup').signup Sign up
    block content
  footer 
    div.footer
      a(href="") Terms of Service  
      a(href="") Contact
      a(href="/recipes") Recipes
      a(href="") Newsletter
