doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel='stylesheet' href='/stylesheets/recipe-detail.css')
        script(src='/javascripts/index.js')
        script(src='/javascripts/reviews.js')

  body
    nav(class='navBar')
      a(class='navButton' href='/') Home
      a(class='navButton' href='/recipes') Recipes
      if locals.authenticated
        a(href='/boards') Boards
        form(action='/users/logout' method='post')
          button(class='navButton' type='submit') Logout
      else
        a(class='navButton' href='/users/login') Login
        a(class='navButton' href='/users/signup') Sign up
    block content
