extends layout.pug

block content
    if errors
        div(class='error-message')
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error
    form(action="/users/login", method="post")
        input(type="hidden" value=csrfToken name="_csrf")
        label(for="username") Username
        input(type="text" name="username" value=username)
        label(for="password") Password
        input(type="password" name="password" value=password)
        button(type="submit") Log in
        button 
            a(href='/users/login/demo') Demo User
    div
        p: a(href='/users/signup') Don't have an account? Create one now 
